pyzx
numpy
scipy
matplotlib
networkx
pytket
python-sat
stim
joblib
seaborn
pandas
qiskit
stim~=1.16.dev
sinter~=1.16.dev
numpy~=2.2.6
galois
tesseract-decoder
python-sat
spidercat @ github.com:boldar99/spidercat.git